.taroify-flex--row {
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  margin-bottom: 30px;
}

.taroify-swipe-cell__actions {
  .taroify-button {
    height: 100%;
  }
}

.issuer {
  font-size: larger;
  color: #333;
}

.label {
  color: gray;
  font-size: small;
}

.code {
  font-size: 1.8em;
  font-weight: bold;
  font-family: monospace;
}

.search {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 30px;
}

.flex {
  display: flex;
  justify-content: center;
}

.code-item {
  margin-left: auto;
}

.progress {
  --progress-height: 8px;
}
