.taroify-swipe-cell__actions {
  .taroify-button {
    height: 100%;
  }
}

.item {
  border-radius: 10px;
  background-color: white;
  margin-bottom: 30px;
}

.taroify-swipe-cell {
  border-radius: 10px;
}

.flex-item {
  padding: 20px;
}

.taroify-swipe-cell__left {
  .taroify-button {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.taroify-swipe-cell__right {
  .taroify-button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.taroify-cell__title {
  font-size: larger;
  color: #333;
}

.taroify-cell__brief {
  color: gray;
  font-size: small;
}

.search {
  margin-bottom: 30px;
  border-radius: 10px;
}

.issuer {
  font-size: larger;
  color: #333;
}

.label, .update-at {
  color: gray;
  font-size: small;
}

.update-at {
  margin-left: auto;
}

.flex {
  display: flex;
  justify-content: center;
}
